.body {
    background: #ffffff !important;
}
.input-data{
    border: 1px solid #eeeeee;
}

.form-control {
    border: 3px solid #eeeeee !important;
}

.cardFlightS {
    background-color: #ffffff
}
.cardFlight {
    border: 2px solid #eeeeee !important;
    border-radius: 25px
}