.body {
  background: #f5f6fa;
}

.input {
  border: 1px solid #f2f2f2;
}

.input.search,
.asc {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.btn-search,
.desc {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}
