.content {
  border-bottom: 1px solid #e5e5e5;
}

.status-waiting {
  background-color: #ff7f23;
  color: #fff;
  border-radius: 6px;
}

.status-success {
  background-color: #4fcf4d;
  color: #fff;
  border-radius: 6px;
}
